<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form action="#" th:action="@{/books/}+${books.id}" th:object="${books}" method="post">
		Book Name : <br> <input type="text" th:field="*{title}"><br>
		Book Id : <br> <input type="text" th:field="*{id}" ><br>
		Book Author :<br> <input type="text" th:field="*{author}"><br>
	<p>	<input type="submit" value="Submit">
		<input type="reset" value="Reset" /> </p>
	</form>
</body>
</html>